<% if @user.line_items.present? %>
  <table>
    <tr>
      <th> Product Id </th>
      <th> Quantity </th>
    </tr>
    <% @user_line_items.each do |line_item| %>
      <tr>
        <td> <%= line_item.product.title %> </td>
        <td> <%= line_item.quantity %> </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h1> No Line Items present </h1>
<% end %>